[submodule "tools/pyacc"]
	path = tools/pyacc
	url = https://github.com/gotzl/pyacc.git
[submodule "tools/pyRfactor2SharedMemory"]
	path = tools/pyRfactor2SharedMemory
	url = https://github.com/TonyWhitley/pyRfactor2SharedMemory.git
[submodule "tools/f1_2020_telemetry"]
	path = tools/f1_2020_telemetry
	url = https://gitlab.com/gparent/f1-2020-telemetry.git
